---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Layout from '../layouts/layout.astro'

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: {
      slug: post.slug
    },
    props: { post }
  }))
}) satisfies GetStaticPaths

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title={post.data.title}>
  <main class='container'>
    <h1>{post.data.title}</h1>
    <Content />
  </main>
</Layout>
